<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <link name="camera_link">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <mass value="0.1"/>  
            <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>  
        </inertial>
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.04 0.02 0.02"/>  
            </geometry>
            <material name="camera_color"> 
                <color rgba="0.0 1.0 1.0 0.7"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.01 0.01 0.01"/>  
            </geometry>
        </collision>
    </link>

    <joint name="camera_joint" type="fixed">
        <parent link="right_Link"/>
        <child link="camera_link"/>
        <origin xyz="-0.0075 0.035 0.05" rpy= "0 -1.57079632679 -1.57079632679" />
    </joint>

</robot>
