<?xml version="1.0" encoding="utf-8"?>
<!-- This pipe's diameter is 150 mm and is 3 mm thick with principal coefficients of friction of 0.3 and 0.8 -->
<robot
  name="complex_pipe">
  <link
    name="complex_pipe_link">
    <inertial>
      <origin
        xyz="2.43617939524912 -0.839780634404355 0.998775473844368"
        rpy="0 0 0" />
      <mass
        value="63.1313238293648" />
      <inertia
        ixx="223.011913224004"
        ixy="38.7551478764222"
        ixz="-34.116789457912"
        iyy="201.392790674475"
        iyz="33.0327977477418"
        izz="270.652856972281" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://pir-b-001/meshes/complex_pipe_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://pir-b-001/meshes/complex_pipe_link.STL" />
      </geometry>
      <surface>
        <friction>
          <ode>
            <mu>0.5</mu> <!-- Friction coefficient in the first direction -->
            <mu2>0.9</mu2> <!-- Friction coefficient in the second direction -->
          </ode>
        </friction>
      </surface>
    </collision>
  </link>

  <gazebo>
    <static>true</static>
  </gazebo>
  <gazebo reference="complex_pipe_link">
    <material>Gazebo/BlueTransparent</material>
    <!-- <material>Gazebo/CoM</material> -->
  </gazebo>

</robot>