<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="pir-b-001">        

<xacro:property name="_pi" value="3.14159"/>

<!-- Retrieve parameters from the ROS parameter server -->
<xacro:property name="spring_param_file" value="$(find pir-b-001)/config/spring_param.yaml" />
<xacro:property name="spring" value="${xacro.load_yaml(spring_param_file)}"/>

<xacro:property name="right_linkj_spring_stiffness" value="${spring['right_linkj']['spring_stiffness']}" />
<xacro:property name="right_linkj_spring_reference" value="${spring['right_linkj']['spring_reference']}" />

<xacro:property name="left_linkj_spring_stiffness" value="${spring['left_linkj']['spring_stiffness']}" />
<xacro:property name="left_linkj_spring_reference" value="${spring['left_linkj']['spring_reference']}" />

<xacro:property name="link3j_spring_stiffness" value="${spring['link3j']['spring_stiffness']}" />
<xacro:property name="link3j_spring_reference" value="${spring['link3j']['spring_reference']}" />

<!-- wheel friction coefficient -->
<xacro:property name="mu1_omni_val" value="0.5" />
<xacro:property name="mu2_omni_val" value="0.7" />

<xacro:property name="mu1_hemi_val" value="0.5" />
<xacro:property name="mu2_hemi_val" value="0.9" />

<!-- joints transmissions -->
<transmission name="right_wheel1j_trans">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="right_wheel1j">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="right_wheel1m">
    <mechanicalReduction>1.0</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="left_wheel1j_trans">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="left_wheel1j">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="left_wheel1m">
    <mechanicalReduction>1.0</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="omni1j_trans">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="omni1j">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="omni1m">
    <mechanicalReduction>1.0</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="omni11j_trans">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="omni11j">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="omni11m">
    <mechanicalReduction>1.0</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="omni3j_trans">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="omni3j">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="omni3m">
    <mechanicalReduction>1.0</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="omni33j_trans">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="omni33j">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="omni33m">
    <mechanicalReduction>1.0</mechanicalReduction>
  </actuator>
</transmission>

<gazebo>
  <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
    <robotNamespace>/pir_b_001</robotNamespace>
    <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
  </plugin>
</gazebo>

<!-- Torsional Springs -->
<gazebo reference="right_Linkj">
  <!-- <implicitSpringDamper>true</implicitSpringDamper>
  <erp>0.2</erp>
  <cfm>0.01</cfm> -->
  <springStiffness>${right_linkj_spring_stiffness}</springStiffness>
  <springReference>${right_linkj_spring_reference * _pi / 180}</springReference> 
  <damping>100000.0</damping>
</gazebo>

<gazebo reference="left_Linkj">
  <!-- <implicitSpringDamper>true</implicitSpringDamper>
  <erp>0.2</erp>
  <cfm>0.01</cfm> -->
  <springStiffness>${left_linkj_spring_stiffness}</springStiffness>
  <springReference>${left_linkj_spring_reference * _pi / 180}</springReference>
  <damping>100000.0</damping>
</gazebo>

<gazebo reference="link3j">
  <!-- <implicitSpringDamper>true</implicitSpringDamper>
  <erp>0.2</erp>
  <cfm>0.01</cfm> -->
  <springStiffness>${link3j_spring_stiffness}</springStiffness>
  <springReference>${link3j_spring_reference * _pi / 180}</springReference>
  <damping>100000.0</damping>
</gazebo>

<!-- Links on Gazebo -->
<gazebo reference="omni1">
  <mu1 value="${mu1_omni_val}"/>
  <mu2 value="${mu2_omni_val}"/>
  <material>Gazebo/Black</material>
</gazebo>

<gazebo reference="omni11">
  <mu1 value="${mu1_omni_val}"/>
  <mu2 value="${mu2_omni_val}"/>
  <material>Gazebo/Black</material>
</gazebo>

<gazebo reference="omni3">
  <mu1 value="${mu1_omni_val}"/>
  <mu2 value="${mu2_omni_val}"/>
  <material>Gazebo/Black</material>
</gazebo>

<gazebo reference="omni33">
  <mu1 value="${mu1_omni_val}"/>
  <mu2 value="${mu2_omni_val}"/>
  <material>Gazebo/Black</material>
</gazebo>

<gazebo reference="omni2">
  <mu1 value="${mu1_omni_val}"/>
  <mu2 value="${mu2_omni_val}"/>
  <material>Gazebo/Black</material>
</gazebo>

<gazebo reference="omni22">
  <mu1 value="${mu1_omni_val}"/>
  <mu2 value="${mu2_omni_val}"/>
  <material>Gazebo/Black</material>
</gazebo>

<gazebo reference="right_wheel">
  <mu1 value="${mu1_hemi_val}"/>
  <mu2 value="${mu2_hemi_val}"/>
  <material>Gazebo/DarkGrey</material>
</gazebo>

<gazebo reference="left_wheel">
  <mu1 value="${mu1_hemi_val}"/>
  <mu2 value="${mu2_hemi_val}"/>
  <material>Gazebo/DarkGrey</material>
</gazebo>

<gazebo reference="right_Link">
  <material>Gazebo/ZincYellow</material>
  <!-- <dampingFactor>0.1</dampingFactor> -->
</gazebo>

<gazebo reference="left_Link">
  <material>Gazebo/ZincYellow</material>
  <!-- <dampingFactor>0.1</dampingFactor> -->
</gazebo>

<gazebo reference="link3">
  <material>Gazebo/ZincYellow</material>
  <!-- <dampingFactor>0.1</dampingFactor> -->
</gazebo>

<gazebo reference="base_link">
  <material>Gazebo/ZincYellow</material>
  <!-- <dampingFactor>0.1</dampingFactor> -->
</gazebo>

<!-- Camera Sensor -->
<gazebo reference="camera_link">
  <material>Gazebo/YellowGlow</material>
  <sensor type="camera" name="camera">
    <update_rate>20.0</update_rate>
    <camera name="head">
      <horizontal_fov>1.3962634</horizontal_fov>
      <image>
        <width>640</width>
        <height>480</height>
        <format>R8G8B8</format>
      </image>
      <clip>
        <near>0.02</near>
        <far>300</far>
      </clip>
      <noise>
        <type>gaussian</type>
        <mean>0.0</mean>
        <stddev>0.007</stddev>
      </noise>
    </camera>
    <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
      <alwaysOn>true</alwaysOn>
      <updateRate>20.0</updateRate>
      <cameraName>camera</cameraName>
      <imageTopicName>image_raw</imageTopicName>
      <cameraInfoTopicName>camera_info</cameraInfoTopicName>
      <frameName>camera_link</frameName>
      <hackBaseline>0.07</hackBaseline>
      <distortionK1>0.0</distortionK1>
      <distortionK2>0.0</distortionK2>
      <distortionK3>0.0</distortionK3>
      <distortionT1>0.0</distortionT1>
      <distortionT2>0.0</distortionT2>
    </plugin>
  </sensor>
  <gravity>true</gravity>
    <sensor name="imu_sensor" type="imu">
      <always_on>true</always_on>
      <update_rate>30</update_rate>
      <visualize>true</visualize>
      <topic>__default_topic__</topic>
      <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
        <topicName>imu</topicName>
        <bodyName>imu_link</bodyName>
        <updateRateHZ>30.0</updateRateHZ>
        <gaussianNoise>0.0</gaussianNoise>
        <xyzOffset>0 0 0</xyzOffset>
        <rpyOffset>0 0 0</rpyOffset>
        <frameName>camera_link</frameName>
        <initialOrientationAsReference>false</initialOrientationAsReference>
      </plugin>
      <pose>0 0 0 0 0 0</pose>
    </sensor>
</gazebo>

</robot>