<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="simple_pipe_100">
  <link
    name="pipe_link">
    <inertial>
      <origin
        xyz="0.332214887792576 -2.71581548361155E-08 -0.641"
        rpy="0 0 0" />
      <mass
        value="5.79569422015422" />
      <inertia
        ixx="2.77135646419146"
        ixy="1.33030735405763E-07"
        ixz="0.0325820980403746"
        iyy="3.35198313859861"
        iyz="4.93066213968307E-08"
        izz="0.59601151657341" />
    </inertial>
    <visual>
      <origin
        xyz="0.332214887792576 -2.71581548361155E-08 -0.641"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://pir-b-001/meshes/pipe_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0.332214887792576 -2.71581548361155E-08 -0.641"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://pir-b-001/meshes/pipe_link.STL" />
      </geometry>
    </collision>
  </link>

  <gazebo>
    <static>true</static>
  </gazebo>
  <gazebo reference="pipe_link">
    <material>Gazebo/BlueTransparent</material>
  </gazebo>

</robot>