<launch>
  <arg name="model" />
  <param name="robot_description" command="$(find xacro)/xacro '$(find pir-b-001)/urdf/PIR-B-ASSY-001-integeration.xacro'" /> 

  <!-- <param name="robot_description" textfile="$(find pir-b-001)/urdf/PIR-INTEGERATION.urdf" />-->
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find pir-b-001)/rviz/pir-b-001.rviz"/>
</launch>