<launch>
  <include
    file="$(find gazebo_ros)/launch/empty_world.launch" />
  
  <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-file $(find pir-b-001)/urdf/simple_pipe.urdf -urdf -model simple_pipe -R 1.57079632679 -z 0.098"
    output="screen" />
 
</launch>